{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Password Reset Confirm
{% endblock %}



{% block content%}
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <br>
        <br>
        <h1 class="text-center">Password Reset Confirm</h1>
        <br>
        <br>
        <h2>Patience...</h2>
        <legend>You're almost there.</legend>
        <hr>
        <br>
    
        <h6 class="lead">{{form.new_password1.label}}*</h6>
        {{form.new_password1}}
        <br>        
        <h6 class="lead">{{form.new_password2.label}}*</h6>
        {{form.new_password2}}
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <strong><p class="text-danger">{{ error }}</p></strong>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <strong><p class="text-danger">{{ error }}</p></strong>
        {% endfor %}
        {% endif %}
        <br>
        <input type="submit" name="" id="" class="btn text-white" value="Reset Password" style="background-color: rgb(84, 59, 224);">
    </form>
    
</div>



<script>
    var forms = document.getElementsByTagName('input')
    forms[1].className = "form-control"
    forms[1].style = "border: 2px blue solid;"
    forms[2].className = "form-control"
    forms[2].style = "border: 2px blue solid;"

</script>
{% endblock %}
