{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Password Reset
{% endblock %}



{% block content%}
<div class="container">
    <form method="POST" action="">
        {% csrf_token %}
        <br>
        <br>
        <h1 class="text-center">Reset Password</h1>
        <br>
        <br>
        <h2>Dont Worry.</h2>
        <legend>Ha, You forgot your password again.</legend>
        <hr>
        <br>
    
        <h6 class="lead">{{form.email.label}}*</h6>
        {{form.email}}
        <br>
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <strong><p class="text-danger">{{ error }}</p></strong>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
        <strong><p class="text-danger">{{ error }}</p></strong>
        {% endfor %}
        {% endif %}
        <br>
        <input type="submit" name="" id="" class="btn text-white" value="Requset Password Reset" style="background-color: rgb(84, 59, 224);">
    </form>
    
</div>



<script>
    var forms = document.getElementsByTagName('input')
    forms[1].className = "form-control"
    forms[1].style = "border: 2px blue solid;"

</script>
{% endblock %}
